@use "../../index.scss" as *;

.addToCard_button {
    @include basic-button;
    width: 100%;

    &.inactive{
        background-color: $button-bg-inactive;
        color: $button-inactive;
        cursor: not-allowed;
    }

    &.active{
        background-color: $button-bg-active;
        color: $button-active;
    }

}


@media (max-width: $breakpoint-tablet) {
    .addToCard_button {
        width: 260px;
    }

}

@media (max-width: $breakpoint-mobile) {
    .addToCard_button {
        width: 100%;
    }
}

