@use "../../index.scss" as *;

.addToCard_button {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: $toUpper;
    text-decoration-line: none;
    transition: background-color $longer-transition, color $longer-transition;
    cursor: pointer;

    &.inactive{
        background-color: $button-bg-inactive;
        color: $button-inactive;
        cursor: not-allowed;
    }

    &.active{
        background-color: $button-bg-active;
        color: $button-active;
    }

}


@media (max-width: $breakpoint-tablet) {
    .addToCard_button {
        width: 260px;
    }

}

@media (max-width: $breakpoint-mobile) {
    .addToCard_button {
        width: 100%;
    }
}

