@use '../../index.scss' as *;

.topbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    
    .topbar_wrapper{
        height: 80px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $black;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 10;
    
        &_logo{
    
        }
    
        &_bag{
            display: flex;
            flex-direction: row;
            align-items: center;
    
            &_image{
                height: 18px;
                width: auto;
                object-fit: contain;
            }
    
            &_number{
                padding-left: 8px;
                font-size: $font-size-topbar;
                color: $black;
            }
        }
    }
}


@media (max-width: $breakpoint-tablet) {

}

@media (max-width: $breakpoint-mobile) {

    .topbar_wrapper{
       background-color: red;
    }
}
