@use "../../index.scss" as *;

.cart{
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title{
        padding-top: 3rem;
        text-transform: $toUpper;
        font-size: $font-size-h2;
    }

    &_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3.5rem;

        &_payment{
            display: flex;
            flex-direction: row;
            align-items: center;

            &_price{
                padding-right: 5rem;
                text-wrap: nowrap;
            }
        }
    }
}