@use '../../index.scss' as *;

.storage_selector{
    &_wrapper{
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &_option {
        border: 1px solid $border-light;
        padding: 1.5rem;
        cursor: pointer;
        list-style: none;
        min-width: 50px;
        display: flex;
        align-content: center;
        justify-content: center;
        transition: border $main-transition;        

        &:hover{
            border: 1px solid $black;
        }

        &.selected{
            border: 1px solid $black;
        }
    }
}
