@use '../../index.scss' as *;

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &_title{
        line-height: 1.1;
        text-align: center;
        padding-bottom: 100px;
    }
}


